* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; /* Ensure Poppins is applied globally */
}

body {
  min-height: 100vh;
  background-color: #303030; /* New background color */
  color: #fff; /* Pure white text */
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align to the top of the page */
  overflow-x: hidden;
  padding: 20px; /* Add some spacing around the page */
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 40px;
  color: #fff; /* Pure white text */
}

h1 {
  text-align: left;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #fff; /* Pure white */
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-field {
  flex: 1 1 calc(33.333% - 20px); /* Three components in a row with spacing */
}

.form-field label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%; /* Full width for all input fields */
  padding: 10px;
  border: none;
  border-radius: 8px; /* Rounded corners */
  background-color: #424242; /* Dark background for inputs */
  color: #fff; /* White text for inputs */
  transition: border-color 0.3s;
}

input:focus,
select:focus,
textarea:focus {
  outline: none; /* Remove outline */
  background-color: #424242; /* Keep the background color consistent */
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.checkbox-group label {
  background-color: #424242; /* Keep consistent background */
  padding: 5px;
  border-radius: 8px; /* Rounded corners for checkboxes */
}

button {
  padding: 10px 20px;
  background-color: #1e88e5; /* Button color */
  color: white; /* Button text color */
  border: none;
  border-radius: 5px;
  margin: 20px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition */
}

button:hover {
  background-color: #1976d2; /* Darker shade on hover */
}

.result {
  margin-top: 20px;
  padding: 20px;
  background-color: #424242; /* Dark background for results */
  border-radius: 8px; /* Rounded corners */
}

.full-width {
  flex: 0 0 100%; /* Full width for these fields */
}
